.btn {
  @include inline-flex();
  @include justify-content(center);
  @include align-items(center);
  @include flex-direction();
  background: transparent;
  padding: 0 10px;
  height: 58px;
  @include main-font2();
  font-size: 18px;
  line-height: 18px;
  color: #FFFFFF;
  letter-spacing: 0;
  border: 2px solid #fff;
  -webkit-transition: background 0.3s, color 0.3s, border 0.3s;
  transition: background 0.3s, color 0.3s, border 0.3s;
  text-align: center;
  text-transform: uppercase;

  span {
    width: 100%;
    text-align: center;
  }
  &:hover {
    background: #fff;
    color: #2d4475;
  }
  &:active {
    background: #fff;
    color: #2d4475;
  }

  &_2 {
    color: #ff2a2a;
    border-color: #ff2a2a;

    &:hover {
      background: #ff2a2a;
      color: #fff;
    }
    &:active {
      background: #ff2a2a;
      color: #fff;
    }

  }
  &_3 {
    height: 49px;
    padding: 0 30px;
    color: #fff;
    background: #ff2a2a;
    border-color: #ff2a2a;

    &:hover {
      background: #cd2727;
      color: #fff;
      border-color: #cd2727;
    }
    &:active {
      background: #cd2727;
      color: #fff;
      border-color: #cd2727;
    }
    img {
      margin: 0 12px 0 -13px;
    }

  }

}

@media (min-width: $desktop) {

  .btn {
    padding: 0 45px;

    &_2 {
      padding: 0 35px;
    }
    &_3 {
      padding: 0 39px;
    }

  }

}